.menuTable {
    width: 100%;
}

.haksikTitle {
    background-color: #99f6e4;
    width: 100%;
    border: 1px solid;
    padding: 10px 20px;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
}

.dailyButtonGroup {
    right: 3%;
    float: right;
    position: absolute;
}

.dailyButton {
    width: 25pt;
    height: 25pt;
    border-radius: 100%;
    padding: 10px;
    margin-right: 10px;
    background-color: #eff6ff;
}

.haksikList {
    border: 1px solid;
    padding: 8px 15px;
    align-items: center;
}

.haksikMenu {
    font-size: 12pt;
}

.buttonGroup {
    width: 100%;
    align-items: center;
    text-align: center;
}

.dropButton {
    width: 20%;
    aspect-ratio: 4;
    border: 1px solid;
    border-radius: 30px;
    padding: 5px 10px;
    margin: 5px 10px;
    font-size: 16pt;
    font-weight: bold;
}

.invisible {
    display: none;
}

.commentImg {
    width: 25px;
    height: 25px;
    margin-left: 10pt;
}

.ratingImg {
    width: 25px;
    height: 25px;
    margin-right: 3pt;
}

.commentSpan {
    float: right;
    font-size: 12pt;
}