.menuTable {
    width: 100%;
}

.haksikTitle {
    width: 13%;
    border: 1px solid;
    text-align: center;
    font-size: 12pt;
}

.haksikList {
    border: 1px solid;
    padding: 5px 10px;
    font-size: 12pt;
}

.buttonGroup {
    width: 100%;
    align-items: center;
    text-align: center;
}

.dropButton {
    width: 20%;
    aspect-ratio: 4;
    border: 1px solid;
    border-radius: 30px;
    padding: 5px 10px;
    margin: 5px 10px;
    font-size: 16pt;
    font-weight: bold;
}

.invisible {
    display: none;
}